
.hidden {
  opacity: 0;
}

.container {
  margin: 75px auto;
}

.main-container {
  margin: 0 auto;
  width: 750px;
}

.heading-container {
  text-align: center;
  width: 450px;
}

.heading {
  font-weight: 400;
  color: #203240;
}

.subheading {
  color: #4e5e6c;
  line-height: 1.5em;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid #f8f9ff;
  background-color: white;
  padding: 20px;
  width: 250px;
  height: 300px;
  transition: all 0.3s;
}

.card:hover {
  position: relative;
  z-index: 999;
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

#card-1 {
  border-radius: 10px 0px 0px 10px;
}

#card-3 {
  border-radius: 0px 10px 10px 0px;
}

#card-1:hover,
#card-2:hover,
#card-3:hover {
  border-radius: 10px;
}

.card__img {
  width: 150px;
  margin: 0 auto;
}

.card__heading {
  font-weight: 500;
  text-align: center;
  color: #20313f;
}

.card__description {
  color: #3a4b5e;
  text-align: center;
  line-height: 1.5em;
}

.flex-container {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fa-check-circle {
  color: #6dcd9e;
  margin-right: 15px;
}

.cta-btn {
  border: 2px solid #0f3790;
  border-radius: 5px;
  padding: 10px 30px;
  text-decoration: none;
  color: #0f3790;
  transition: all 0.3s;
}

.cta-btn:hover {
  background-color: #0f3790;
  color: white;
}

#disclaimer {
  margin: 25px 0px;
}

@media (max-width: 800px) {
  .main-container,
  .heading-container,
  .flex-container {
    margin: 50px auto;
  }

  .main-container {
    width: 95%;
  }
  .heading-container,
  .flex-container,
  .card-container {
    width: 100%;
  }
  .card {
    width: 80%;
  }
  #card-1 {
    border-radius: 10px 10px 0px 0px;
  }
  #card-3 {
    border-radius: 0px 0px 10px 10px;
  }
  .card-container {
    flex-wrap: wrap;
  }
}
.titulo{
  font-size: 25px;
}
.ban_border{
  margin: 0;
}
.magin_top_ban{
  margin-top: 0;
}